.table_module .form-table{
    display: block;
}
.table_module .form-table tbody{
    display: flex;
    flex-wrap: wrap;
}
.table_module .form-table tbody tr{
    flex: 0 0 15%;
    display: flex;
    margin: 10px;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 13px rgb(0 0 0 / 20%);
    min-width: 200px;
    justify-content: right;
    position: relative;
}


.table_module .form-table tbody tr th{
    padding: 15px;
    width: 100%;
    font-weight: normal;
}
.table_module .form-table tbody tr td{
    margin: 0;
}
.component_title{
    display: flex;
    vertical-align: middle;
    height: 100%;
    align-items: center;
    color: #1d2327;
    text-decoration: none;
}
label.component_title{cursor: text;}

.component_title .icon,
.component_title .dashicons,.component_title  .dashicons-before:before{
    width: 26px;
    height: 26px;
    font-size: 26px;
    margin: 5px;
}
.badge{
    text-decoration: none;
}
.badge span {
    background-color: #48ad10;
    padding: 3px;
    border-radius: 100%;
    color: #fff;
    font-size: 18px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: -7px;
    left: -7px;
}
.c_descr{
    position: fixed;
    display: none;
    z-index: 999999999;
    background-color: #fff;
    box-shadow: 0 0 13px rgb(0 0 0 / 20%);
    padding: 5px;
}

.table_module .form-table tbody tr:hover .c_descr{
    display: block;
}